/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

body {
    
    background:#f1f1f1;
    font-family: sans-serif;
    text-align: center;
}

header a {

	color: #fff;
	text-decoration: none;
	font-weight: bold;
    font-family: sans-serif;

}

header a:hover {

	color: #e0812e;

}

header {

	background: #285797;
	width: 100%;
	height: 76px;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 4px solid #e0812e;
	z-index: 100;
    padding: 0px 20px 0px 20px;

}

#logo{

	margin: 20px;
	float: left;
	width: 200px;
	height: 40px;
	background: url(../images/logo.png) no-repeat center;
    background-size:100%;
	display: block;

}

nav {

	float: right;
	padding: 20px;
    margin-right:5px;

}

#menu-icon {

	display: hidden;
	width: 40px;
	height: 40px;
	background: #285797 url(../images/menu-icon.png) center;
    border-radius:4px;

}

a:hover#menu-icon {

	background-color: #093f87;
	border-radius: 4px 4px 0 0;

}

ul {

	list-style: none;

}

li {

	display: inline-block;
	float: left;
	padding: 10px

}

.current {

	color: #bbb;

}

footer{
        
    color: white;
    text-decoration: none;
    text-align: center;
    background: #285797;
    border-top: 4px solid #e0812e;
    z-index:100;
    padding:20px;
}

footer a{
    
    font-family:sans-serif;
    color: white;
    text-decoration: none;
}

#main h1 {
    
    color: #285797;
    font-size:30px;
    text-align: center;
}
    
#main{
    
    width:50vw;
    margin:auto;
    margin-top:80px;
    padding:50px;
    min-height: calc(100vh - 240px);
    text-align: center;
}

.announcement{
    
    background:white;
    padding:15px;
    margin-top:10px;
    border-radius:15px;
    box-shadow: 0px 0px 5px black;
}

.announcement h5{
    margin-bottom: 5px;
}

.announcement h4{
    font-weight:100;
    font-style:italic;
    margin-top:10px;
    text-align: right;
}

#admin{
    background:white;
    border-radius: 50px;
    height:15vh;
    width:20vw;
    margin:auto;
    margin-top:10px;
    padding:25px;
    box-shadow: 0px 0px 5px;
}

#admin input{
    margin-bottom: 10px;
}

#admin form{
    
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#admin-form{
    
    display:block;
    text-align: center;
}

#admin input[type="submit"]{
    margin:auto;
    display:block;
}

#content{

    background: white;
    padding: 25px;
    min-height:60vh;
    margin-top:10px;
    box-shadow: 0px 0px 5px black;
}

#about-pictures {

    text-align: center;
}

#about-pictures img{

    background:gray;
    display:inline-block;
    width: 150px;
    height:200px;
    margin-top:25px;
    margin-right:35px;
    margin-left:35px;
}

#slideshow{

    width:40vw;
    display:block;
    position:relative;
    text-align: center;
    margin:auto;
    margin-bottom:10px;
}

#slideshow .slide{

    width:100%;
    display:inline-block;
    text-align: center;
    margin:auto;
}

.slide-change{

    color:white;
    position:absolute;
    height:100%;
    font-weight: bolder;
    font-size: 25px;
    font-family: sans-serif;
    border:none;
    cursor:pointer;
    display:inline-block;
    z-index: 100;
    padding:0px 10px;
    background-color: rgba(255, 255, 255, 0);
    top: 0;
}

.slide-change:hover{

    background:rgba(255, 255, 255, 0.3)
}

.slide-right{

    right:0%;
    box-shadow: -10px 0px 5px -5px rgb(0,0,0, 0.5);
}

.slide-left{

    left:0%;
    box-shadow: 10px 0px 5px -5px rgb(0,0,0, 0.5);
}

.admin-category{

    font-size:125%;
    color:#093f87;
}

#post-announcement textarea{

    width:500px;
    height:150px;
}

.announcement-edit {

    border-top:1px solid black;
    border-bottom:1px solid black;
    padding:5px;
}

.announcement-edit:nth-child(odd) {

    background:rgb(236, 236, 236);
}

.announcement-edit h5{

    margin-bottom: 5px;
}

.announcement-edit h4{

    font-style:italic;
    font-weight:normal;
    margin-top:5px;
    margin-bottom:5px;
}

.photo-div{

    background: white;
    padding: 25px;
    min-height:60vh;
    margin-top:10px;
    box-shadow: 0px 0px 5px black;
}

.photo-div img{

    background:black;
    width:400px;
    height:250px;
}

.product {

    display:inline-block;
    margin-bottom:10px;
}

.product img {
    max-width:500px;
}

/*css for mobile devices*/
@media only screen and (max-width : 640px) {

	header {

		position: absolute;

	}

	#menu-icon {

		display:inline-block;

	}

	nav ul, nav:active ul { 

		display: none;
		position: absolute;
		padding: 20px;
		background: #285797;
        border-bottom:4px solid #e0812e;
        border-left:4px solid #e0812e;
        border-top:1px solid #e0812e;
        border-right:1px solid #e0812e;
		right: 20px;
		top: 60px;
		width: 50%;

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav:hover ul {

		display: block;

	}
    
}